<div class= 'container_16'>
  <div class='grid_16'>
  	  	<h2 id='page-heading'>NEW USER</h2>
     <div class='box'>
      <h2 id='login'>
        <a href=''>WELCOME</a>
       </h2>

<%= render 'form' %>
<br />
<br />
<%= link_to 'Back', users_path %>

    </div>
   </div>
</div>