%div{:class=>'container_16'}
  %div{:class=>'grid_16'}
    %h2{:id=>'page-heading'}GOALS
  %div{:class=>'clear'}
  
  %div{:class=>'grid_16'}
    %div{:class=>'box'}
      %h2{:id=>'login'}
        %a{:href=>''}ENTER YOUR GOALS
      %div{:class=>'block'}
        %div{:id=>'info',:style=>"height:280px"}
          %br
          %br
          %br
          %p This feature isn't ready, 
          %p it doesn't work yet

  %br
  %br
  %div{:class=>'grid_16',:id=>"site_info"}
    %div{:class=>'box'}
      %p  FOR HCI ASSIGNMENT
      %a{:href=>''}
  %div{:class=>'clear'}
